<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.palavras.unicap.palavrinhas">

    <permission
        android:name="com.app.appname.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.app.appname.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".PalavrinhasApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Fullscreen"
        >

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.JogoActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.RecordesActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.RegistrarActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.SegundaChanceActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.InstrucoesActivity"
            android:screenOrientation="sensorLandscape"/>
    </application>

</manifest>